<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Signup</button>
                <a href="/accounts/password/reset/"><button>Mot de passe oublier</button></a>
            </form>
        </div>
    </div>
</body>
</html>